# Entornos virtuales
venv/
.venv/

# Cache de Python
__pycache__/
*.py[cod]

# Variables de entorno locales
.env

# Archivos de SO o editores
.DS_Store
.vscode/
.idea/

# Orquestación (si alguien la crea por error localmente)
docker-compose*.yml